{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}
  {{  _('%(title)s - Microblog', title=title) }}
  {% else %}
  {{  _('Welcome to Microblog!') }}
  {% endif %}
{% endblock %}

{% block scripts %}
  {{  super() }}
  {{ moment.include_moment() }}
  {{ moment.lang(g.locale) }}

  <script>
    function translate(sourceId, destId, sourceLang, destLang) {
      var sourceElem = document.getElementById(sourceId);
      var destElem = document.getElementById(destId);

      destElem.innerHTML = '<img src="{{ url_for('static', filename='loading.gif') }}">';

      var formData = new FormData();
      formData.append('source_language', sourceLang);
      formData.append('dest_language', destLang);
      formData.append('text', sourceElem.textContent);

      fetch(
        '{{ url_for('translate.translate_text') }}',
        {
          method: 'POST',
          body: formData,
        }
      )
        .then(function (response) {
          return (response.status === 200)
            ? response.json()
            : {text: "{{ _('Error: Could not contact server.') }}"};
        })
        .then(function (data) {
          destElem.textContent = data.text;
        });
    }

    function setMessagesCount(n) {
      document.getElementById('messages_count').textContent = n;
      document.getElementById('messages_count').style.visibility = n ? 'visible' : 'hidden';
    }

    $(function () {
      var timer =null;
      $('.user_popup').hover(
        function (event) {
          var elem = $(event.currentTarget);
          timer = setTimeout(function () {
            timer = null;
            username = elem.first().text().trim();
            url = '/user/' + username + '/popup';
            fetch(url)
              .then(function (response) {
                return response.text();
              })
              .then(function (data) {
                elem.popover({
                  trigger: 'manual',
                  html: true,
                  animation: false,
                  container: elem,
                  content: data
                }).popover('show');
                flask_moment_render_all();
              });
          }, 1000)
        },
        function (event) {
          var elem = $(event.currentTarget);
          if (timer) {
            clearTimeout(timer);
            timer = null;
          } else {
            elem.popover('destroy');
          }
        }
      )
    })
  </script>
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">{{  _('Toggle navigation') }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('main.index') }}">{{  _('Microblog') }}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('main.index') }}">{{  _('Home') }}</a></li>
          <li><a href="{{ url_for('main.explore') }}">{{  _('Explore') }}</a></li>
        </ul>
        {% if g.search_form %}
        <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
          <div class="form-group">
            {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label_text) }}
          </div>
        </form>
        {%  endif %}
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_anonymous %}
          <li><a href="{{ url_for('auth.login') }}">{{  _('Login') }}</a></li>
          {% else %}
          <li>
            <a href="{{ url_for('main.messages', username=current_user.username) }}">
              {{ _('Messages') }}
              {% set new_messages = current_user.new_messages() %}
              <span id="message_count" class="badge" style="visibility: {% if new_messages %}visible{% else %}hidden{% endif %}">
                  {{ new_messages }}
              </span>
            </a>
          </li>
          <li><a href="{{ url_for('main.user_profile', username=current_user.username) }}">{{  _('Profile') }}</a></li>
          <li><a href="{{ url_for('auth.logout') }}">{{  _('Logout') }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
  </div>
{% endblock %}
